/* --- Pointer --- */

body:not(.nv-override-pointer) [data-href], 
body:not(.nv-override-pointer) [data-nv-uid] {
    cursor: pointer !important
}

/* --- Escapes --- */

.is-live-preview.cm-s-obsidian .cm-line:not(.cm-active) .cm-formatting-escape {
    display: none;
}

.is-live-preview.cm-s-obsidian .cm-formatting-escape {
    opacity: 0.4;
}

.is-live-preview.cm-s-obsidian .cm-escape.cm-hmd-escape-char {
    color: var(--text-normal);
    opacity: 0.8;
}

.is-live-preview.cm-s-obsidian .cm-escape.cm-hmd-escape-char.cm-link {
    color: var(--text-accent);
}

/* --- Comment hiding --- */

.is-live-preview.cm-s-obsidian .cm-line:not(.cm-active) span.cm-comment {
    width: 25px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
}

.is-live-preview.cm-s-obsidian .cm-line:not(.cm-active) span.cm-comment:before  {
    width: 25px;
    content: "<!>";
}

.nv-hide-comments .is-live-preview.cm-s-obsidian .cm-line:not(.cm-active) span.cm-comment {
    visibility: hidden;
    width: 0.1px;
}

.nv-hide-comments .is-live-preview.cm-s-obsidian .cm-line:not(.cm-active) span.cm-comment:before {
    display: none;
}

/* --- Settings banner --- */

.nv-settings-banner {
    margin: 0 -5px 30px;
}

.nv-settings-banner .elf {
    height: 130px;
    fill: none;
    stroke: #d64700;
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 1.5;
    stroke-width: 5px
}

.nv-settings-banner .elf .i {
    fill: #d64700;
    stroke-width: 0px;
}

.theme-dark .nv-settings-banner .elf {
    stroke: #75415c;
}

.theme-dark .nv-settings-banner .elf .i {
    fill: #bb6893;
}